@using Anyar_1_.ViewModels
@model PositionCreateVM



<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Forms</h5>
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <div class="mb-3">
                                <label asp-for=Name class="form-label">Name</label>
                                <input asp-for=Name type="text" class="form-control">
                                <span asp-validation-for=Name></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a asp-action="Index" asp-controller="Position" class="btn btn-light">Cancel</a>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
